

body{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0px;
  padding: 0px;
  font-family:'Poppins';
  background: linear-gradient(304.58deg, #F4ECE1 57.1%, #FAF8F3 127.55%, #FAF8F3 145.5%, #FCFBF7 145.5%) fixed;
  cursor: none;
}


/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #F4ECE1
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #2F2F2F; 
  border-radius: 5px;
}
