

.button{
	background-color: #2F2F2F;
	border: none;
	height: 60px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 100px;
	color: white;
	cursor: none;
	box-shadow: 0px 20px 32px hwb(0 0% 100% / 0.2);
}


.button strong {
	font-family: 'Poppins';
}



.git-button{
	border: none;
	width: 58px;
	height: 58px;
	margin-right: 15px;
	border-radius: 100px;
	box-shadow: 0px 20px 36px rgba(0, 0, 0, 0.10);
	cursor: none;
	background-color: #FFF8F0;
}


.git-text {
	font-weight: 600;
	font-style: normal;
	line-height: 94.8%;
	font-size: 20px;
}



strong{
	font-weight: bold;
	font-size: 17.5px;
}




/*  RESPONSIVE */
@media (max-width: 390px) {
	.button{
		padding-left: 20px;
		padding-right: 20px;
	}

	.git-button-container strong {
		display: none;
	}
}

