

.modal-screen {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	backdrop-filter:blur(15px);
}


.modal {
	position: fixed;
	width: 500px;
	height: 425px;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	border-radius: 10px;
	background: linear-gradient(304.58deg, #F4ECE1 57.1%, #FAF8F3 127.55%, #FAF8F3 145.5%, #FCFBF7 145.5%);

}



@media (max-width: 695px) {
	.modal{
		width: 400px;
	}
}

@media (max-width: 595px) {
	.modal{
		width: 360px;
	}
}


@media (max-width: 395px) {
	.modal{
		width: 300px;
	}
}


